{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Sign Up.Link Up{% endblock title %}
{% block css_block %}
<style>
    .sign_up{
        width: 450px;
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 10px ;
    }
    .abc{
        text-align: center;
        text-decoration: dotted;
        color: rgb(62, 240, 62);
        font-size: x-large;

    }
    body{
        margin:20px;
        
    }
</style>
{% endblock css_block %}
{% block content %}

<div class="container sign_up">
    <form method="POST">
        <p class="abc text-bolder "><b><i>Sign Up</i></b></p>
        {{form|crispy}}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary ">Sign Up</button>
    </form><hr>
    <p>Have an account?<a href="{% url 'App_login:authlogin' %}">Log In</a></p>

</div>
{% endblock content %}